/* TYPHOGRAPHY & IMAGES */
* {
  font-family: 'Lato', sans-serif;
}
a {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: grey;
  text-decoration: none;
}
.prof-pic img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
.conv-list img {
  height: 50px;
  width: 50px;
  margin-top: 10px;
}
.hea-d i {
  font-size: 20px;
  float: right;
  margin: 10px 15px;
}
.mess-hea-d i {
  font-size: 20px;
  float: right;
  margin: 10px 15px;
  color: grey;
}
.mess-foot .fa-smile {
  font-size: 20px;
  float: left;
  margin: 10px 15px;
  color: grey;
}
.mess-foot .fa-microphone {
  font-size: 20px;
  float: right;
  margin: 10px 15px;
  color: grey;
}
.mess-foot .fa-location-arrow {
  font-size: 20px;
  float: right;
  margin: 10px 20px;
  color: grey;
  transform: rotate(45deg);
  display: none;
}
.form-control::placeholder {
    color: lightgrey;
    opacity: 1;
    margin-left: 20px;
}
.form-inline i {
  color: lightgrey;
  position: absolute;
  top: 15px;
  left: 25px;
  z-index: 9999;
}
.conv-list-text h3 {
  font-size: 13px;
  color: rgb(36, 36, 41);
  float: left;
  margin: 0;
}
.conv-list-text h4 {
  font-size: 10px;
  color: rgb(52, 55, 61);
  float: left;
  margin: 8px 10px;
}
.conv-list-text p {
  float: right;
  font-size: 10px;
  color: grey;
  margin-bottom: 50px;
}
.conv-list-text i {
  color: grey;
  font-size: 13px;
  float: left;
  margin: 10px 0;
}
.text-person h3 {
  font-size: 17px;
  margin: 0;
  margin-bottom: 5px;
}
.text-person p {
  font-size: 12px;
  color: grey;
  margin-bottom: 0;
}
.check-blue {
  color: #52C4F7!important;
}
.mess-main {
  background: url('https://66.media.tumblr.com/53a35e7ed66f3159e01f3663af30706b/tumblr_ouztgbH0CG1vj8v9mo1_500.png');
  background-repeat: repeat-x;
  filter: opacity(.5);
  z-index: 0;
}
.mess-input p, .mess-output p {
  font-size: 12px;
  color: black;
  text-align: left;
}
.mess-input h5, .mess-output h5 {
  font-size: 10px;
  color: black;
  text-align: right;
}
.logo-rimpiazzo img {
  width: 200px;
}
.tendina_inp h1 {
  font-size: 15px;
  color: black;
  text-align: left;
  margin: 20px;
  cursor: pointer;
}
.fa-search {
  cursor: pointer;
}
/* DIV & CONTAINER ---------------------------------------------------------------- */
.flex-cont {
  display: flex;
}
.main {
  width: 100vw;
  height: 100vh;
}
.conv {
  height: 100vh;
  width: 35%;
  border-right: 1px solid rgb(215, 213, 213);
}
.hea-d {
  background: #eeeeee;
  height: 12vh;
  width: 100%;
  padding:15px 10px;
}
.sear-ch {
  background: transparent;
  height: 12vh;
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid grey;
}
.bg-light {
  background-color: transparent!important;
}
.form-control {
  display: block;
  width: 380px!important;
  height: 30px;
  padding: 10px 35px;
  font-size: 13px;
  line-height: 5.5;
  color: grey;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eff2f5;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  position: relative;
}
.sear-chh {
  float: left;
  background: transparent;
  height: 50px;
  margin: 0;
  width: 50%;
}
.form-control-i {
  width: 700px!important;
  height: 40px;
  padding: 10px 35px;
  font-size: 13px;
  line-height: 5.5;
  color: grey;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eff2f5;
  border-radius: 25px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.nav-i {
  padding: 0;
}
.conv-list {
  width: 100%;
  height: 76vh;
  padding: 10px 0px;
  overflow-y: scroll;
}
.conv-list-text {
  height: 70px;
  /* border-bottom: 1px solid #eff2f5; */
  padding: 5px 10px;
  margin-left: 80px;
  width: 80%;
}
.tex-t-i {
  height: 30px;
  padding-top: 10px;
}
.mess-hea-d {
  background: #eeeeee;
  height: 12vh;
  width: 100%;
  padding:15px 10px;
}
.mess-foot {
  background: #eeeeee;
  height: 12vh;
  width: 100%;
  padding:15px 10px;
  /* margin-top: calc(100vh - 140px); */
}
.logo-rimpiazzo {
  width: 65%;
  height: 100vh;
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.messages {
  width: 65%;
  height: 100vh;
  display: none;
}
.mess-main {
  height: 76vh;
  overflow-y: scroll;
  width: 100%;
}
.text-person {
  margin-left: 3%;
  width: 30%;
  float: left;
}
.mess-input {
  height: auto;
  width: 200px;
  background: white;
  z-index: 9999;
  border-radius: 5px;
  position: relative;
  top: 100px;
  left: 60px;
  box-shadow: -1px 1px rgb(160, 173, 181);
  padding: 10px 10px;
  margin: 10px 0;
}
.mess-output {
  height: auto;
  width: 500px;
  background: #DCF8C6;
  z-index: 9999;
  border-radius: 5px;
  position: relative;
  top: 150px;
  left: 300px;
  box-shadow: -1px 1px rgb(160, 173, 181);
  padding: 10px 10px;
  margin: 10px 0;
}
.ora-check {
  display: flex;
  justify-content: flex-end;
}
.ora-check > * {
  margin: 0 5px;
}
.ora-check i {
  font-size: 10px;
}
.fa-check {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
.nascondi {
  display: none;
}
.tendina_inp, .tendina_out {
  width: 150px;
  height: 100px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 200px;
}
.tendina_out {
  left: 350px;
}
.con-item {
  width: 100%;
}
.almostwhite {
  background: rgb(232, 232, 232);
}
.lightgrey {
  background: lightgrey;
}
/* MEDIA QUERY----------------------------------------------------------------- */
